<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
</head>
<body>
  <h1>Congratulations! You have successfully attacked <%= @player2 %>!</h1>
</body>
</html>
