<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
</head>
<body>
  <h1><%= @loser %> fainted! Congratulations <%= @winner %>, you won the game!</h1>
</body>
</html>
