<p>Player 1: <%= @player1 %></p>
<p>Player 2: <%= @player2 %></p>

































<!-- <form method ='post' display="inline-block" action='/play'>
<input type="button" name="view_hitpoints" value="View hitpoints">
</form> -->
