<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/play.css") %>">
</head>
<body>
  <h1><%= @player1 %> vs. <%= @player2 %></h1>
  <p>Player 2: 100HP</p>
  <form method="get" action="/attack">
    <input type="submit" value ="Attack!">
  </form>
</body>
</html>
